<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    

</head>
<body>
    
        <div id="Electric Vehicle "></div>
         <h1>Electric Vehicle </h1>
  
            {% for car in data%}
            <li>{{data.City}}
            </li>
            {%endfor%}
     <p></p>
   
        <h4>summary Sales<a href="sale.html">Click here</a> </h4>


    <div id="bar"></div>
    <script src="h//ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script> src ="car.js"</script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="{{ url_for('static', filename='js/car.js') }}">
    </script>

     

    <img src ="C:\Users\19802\Desktop\UNCC_bootcamp_03-23\project\Project_03\Resources\images\tesla.jpg "
     <br> 
    <img src="C:\Users\19802\Desktop\UNCC_bootcamp_03-23\project\Project_03\Resources\images\chevrolet.jpeg" 
    <a href="About"</a>
  


        </div>
    </body>
</html>